# DB DETAILS
DB_URL
DB_USER
DB_PASSWORD

# JWT SECRET STRING
JWT_SECRET=sairaj-expense-tracker-secret-key-2026-secure

# PORT NUMBER
PORT=8080

# AWS DETAILS
AWS_S3_TEMPLATE_BUCKET=template-bucket
AWS_S3_REPORT_BUCKET=expense-bucket
AWS_REGION=eu-west-1
AWS_ACCESS_KEY=test
AWS_SECRET_KEY=test

# TEMPLATE FILES
PDF_TEMPLATE=expense-report.xsl