openapi: 3.0.3
info:
  title: Expense Tracker API
  version: 1.0.0

#servers:
#  - url: "mark1"
#    description : "this is mark one"
#  - url: "mark2"
#    description : "this is mark two"

paths:
  /auth/api/create:
    post:
      summary: Create User
      operationId: createUser
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserRequest'
      responses:
        '201':
          description: User Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResponse'
        '400':
          description: Bad Request, wrong request body
        '409':
          description: Conflict, user already exists in system

components:
  schemas:
    UserRequest:
      type: object
      required:
        - name
        - email
        - password
      properties:
        name:
          type: string
          example: Saul Goodman
          description: Valid Name
        email:
          type: string
          format: email
          example: saul@goodman.com
          description: Valid Email
        password:
          type: string
          format: password
          minLength: 8
          maxLength: 64
          description: User password

    UserResponse:
      type: object
      required:
        - message
      properties:
        message:
          type: string
